$color-orang: #f26522;
$color-black: #1e1e1e; // footer bg,
$color-gray-dark: #333333; // menu, key feature, Sell in 3 Easy Steps, Get in Touch
$color-gray: #7f7f7f; // feature p, steps p, sel your house p,
$color-gray-light: #b7b7b7; // form input color
$color-gray-light2: #b7b7b7; // form input color
$color-blue-32: rgba(64, 199, 255, 0.32); // with neon
$color-blue-11: rgba(64, 199, 255, 0.11); // input with border
$color-black-48: rgba(0, 0, 0, 0.48); // input with border
