
  .section-2 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 85px;
    h2 {
      margin-top: 0;
      color: #333333;
      font-size: 40px;
      display: inline-block;
    }
  }
