.section-4 {
  .section-4-1 {
    text-align: center;
    color: white;
    padding-top: 150px;
    padding-bottom: 175px;
    h1 {
      color: #f2f2f2;
      font-size: 50px;
      margin-top: 0;
      margin-bottom: 10px;
    }
    p {
      color: #f2f2f2;
      font-size: 25px;
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
}

.with-bg-image-4{
  background-image: url('../img/house-4.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}
