@import '../../assets/css/colors';
.header {
  .pure-menu {
    padding-top: 22px;
    padding-bottom: 22px;
    overflow: auto;

    .pure-menu-heading {
      position: relative;
      display: block;
      text-align: center;
      padding: 0;

      img {
        width: 20em;
      }
    }

    .pure-menu-list {
      padding: 5px 0;
      font-size: 25px;
      display: block;
      text-align: center;


      li {
        display: block;

        a {
          &:focus {

            background-color: transparent;
          }
          &:hover {
            background-color: transparent;
            color: $color-orang;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 35.5em) {
  .header {
    .pure-menu {
      .pure-menu-heading {
        display: inline-block;

        img {
          width: 50%;
        }

      }

      .pure-menu-list {
        li {
          display: inline-block;
        }
      }
    }
  }
}

@media screen and (min-width: 48em) {
  .header {
    .pure-menu {
      .pure-menu-heading {
        display: inline-block;

        img {
          width: 350px;
        }

      }

      .pure-menu-list {
        float: right;
        padding: 30px 0;

        li {
          display: inline-block;
        }
      }
    }
  }
}

