@import '../../assets/css/colors';
.form-with-border {
  position: relative;
  display: inline-block;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.48);
  box-shadow: 7px 7px 38px 0px rgba(64, 199, 255, 0.11);

  .pure-form {
    position: relative;
    margin: 0;
    .input-icon {
      position: absolute;
      top: 19px;
      left: 25px;
    }
    .with-icon{
      padding-left: 70px!important;
    }
    input::placeholder {
      color: $color-gray-light;
    }
    input {
      font-size: 16px;
      color: $color-gray;
      padding: 25px 20px!important;
      border: 0;
      border-radius: 0!important;
      width: 100%;
    }
    button {
      color: white;
      font-size: 18px;
      background-color: $color-orang;
      padding: 25px 20px!important;
      border-radius: 0!important;
      line-height: 18px;
      width: 100%;
    }
  }
}
@media screen and (min-width: 48em) {
.form-with-border {
  .pure-form {
    input {
      float: left;
      width: 540px;
    }
    button {
      float: right;
      width: auto;
    }
  }
}
}
